@model AWWW_Projekt.ViewModels.NewPostViewModel

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Tytuł</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Opis</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label">Zawartość</label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tags" class="control-label">Tagi</label>
        <textarea asp-for="Tags" class="form-control"></textarea>
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <button class="btn btn-block btn-primary" type="submit">Dodaj</button>
</form>
