@model AWWW_Projekt.ViewModels.PostListItemViewModel
<div class="row">
    <div class="col-9">
        <h1 style="color: #dbc16c;">Tytuł: @Model.Title</h1>
    </div>
    <div class="col-3">
        <h5 style="color:bisque">Data utworzenia: @Model.CreatedTime</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        @Model.Content
    </div>
</div>
<div class="row">
    <div class="col-6">
        Author: miejsce na autor //Brak metody
    </div>
</div>
<div class="row">
    <div class="col-12">
        Czy na pewno chcesz usunac przycisk ?
    </div>
</div>
<div class="row">
    <div class="col-6">
        <a class="btn btn-info float-right" asp-controller="Home" asp-action="Index">Nie</a>
    </div>
    <div class="col-6">
        <a class="btn btn-danger float-left" asp-controller="Post" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">TAK</a>
    </div>
</div>