@model AWWW_Projekt.ViewModels.NewCommentViewModel



<h4>Dodawanie komentarza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">

            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Komentarz</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">Podpis</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <button class="btn btn-block btn-primary" type="submit">Dodaj</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
